
<h3 style="position:absolute; TOP:100px; LEFT:300px; ">The data has been saved.</h3>

<i class="large material-icons" style="font-size:15; position:absolute; TOP:200px; LEFT:-80px;"><a href="/home"> insert_replay</a></i>

<h4 style="font-size:15; position:absolute; TOP:300px; LEFT:450px; " > Click to go home </h4>