<h4>Sorry, no such class exits!</h4>
<h4 style="font-size:15; position:absolute; TOP:300px; LEFT:450px; " ><%= link_to "Click to go Home" , sadmin_path %></h4>
<h4 style="font-size:15; position:absolute; TOP:400px; LEFT:450px; "><%= link_to "Click to go Back" , :back %></h4>