<div style="font-size:15; position:absolute; TOP:250px; LEFT:550px; ">

  <a class="waves-effect waves-light btn-large" href="/mark_attendance">Mark Attendance</a><br><br>
  <a class="waves-effect waves-light btn-large" href="/summary">View Summary</a>

</div>


