<div class="container">
  <h5>Assign Class to Teacher</h5></br>

  <label><h6><b>Select Standard</b></h6></label>
  <select class="browser-default">
    <option value="1">I</option>
    <option value="2">II</option>
    <option value="3">III</option>
  </select>
  </br>
  <label><h6><b>Select Section</b></h6></label>
  <select class="browser-default">
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
  </select></br></br>

  <!--<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>-->

  <!--&lt;!&ndash; Dropdown Structure &ndash;&gt;-->
  <!--<ul id='dropdown1' class='dropdown-content'>-->
    <!--<li><a href="#dfs">one</a></li>-->
    <!--<li><a href="#df">two</a></li>-->
    <!--<li><a href="#sdf">three</a></li>-->
  <!--</ul>-->

  <a class="waves-effect waves-light btn">Assign</a></br></br>

</div>