<div class="container valign-wrapper">
  <div class="row">
    <div class="col s3">
      <%= link_to "Manage Students".html_safe, students_path, :class => "waves-effect waves-light btn" %></br></br>
      <a class="waves-effect waves-light btn">Manage Teachers</a></br></br>
      <%= link_to "Manage Classes".html_safe, class_mappings_path, :class => "waves-effect waves-light btn" %></br></br>

    </div>
    <div class="col s3 right">
      <%= link_to "Manage Standards".html_safe, standards_path, :class => "waves-effect waves-light btn" %></br></br>
      <%= link_to "Manage Sections".html_safe, sections_path, :class => "waves-effect waves-light btn" %></br></br>
    </div>


  </div>
</div>