<script>
  function change_to_name()
  {
    document.getElementById("to_change").innerHTML="<b> Enter student name: </b>";
  }
  function change_to_roll()
  {
    document.getElementById("to_change").innerHTML="<b> Enter student roll number: </b>";
    alert("Roll");
  }

    $('select').material_select();

</script>





<form action="/summary_show">

<!--<a class='dropdown-button btn-large'  content="filter" name="filter" id="filter" data-activates='dropdown3' style="font-size:15; position:absolute; TOP:200px; LEFT:600px; ">Filter</a>
<ul id='dropdown3' class='dropdown-content' name="filter" value="filter">
      <li style="font-size:15" onclick="change_to_roll()" id="roll" value="roll" content="roll">By Roll Number</li>
      <li style="font-size:15" onclick="change_to_name()" id="name" value="name" content="name" >By Name </li>
</ul>-->

  <!--<#%= react_component('App') %>-->


  <!--<div style="font-size:15; position:absolute; TOP:300px; LEFT:600px;">-->
    <!--<div class="row">-->
      <!--<div class="input-field col s12">-->
        <!--<b>Standard:</b>-->
        <!--<select class="browser-default waves-effect waves-light btn" name="standard" id="standard_id">-->
          <!--<#% stnd = Standard.all %>-->
          <!--<#% stnd.each do |stnd| %>-->
              <!--<option value=<#%=stnd.standard_name%> ><#%=stnd.standard_name%> </option>-->
          <!--<#%end%>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


<!-- Dropdown Structure -->
  <!--<div style="font-size:15; position:absolute; TOP:400px; LEFT:600px;">-->
    <!--<div class="row">-->
      <!--<div class="input-field col s12">-->
        <!--<b>Section:</b>-->
        <!--<select class="browser-default waves-effect waves-light btn" name="section" id="section_id">-->
          <!--<#% sec = Section.all %>-->
          <!--<#% sec.each do |sec| %>-->
          <!--<option value=<#%=sec.section_name%> ><#%=sec.section_name%> </option>-->
          <!--<#%end%>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <div style="font-size:15; position:absolute; TOP:420px; LEFT:900px; ">
    <!--<button class="btn waves-effect waves-light" type="submit" name="action">Submit-->
    <!--</button>-->
    <%= react_component('Submit') %>

  </div>



<div style="font-size:15; position:absolute; TOP:300px; LEFT:600px;">
    <div class="row">
      <div class="col s12">
        <b>Filter by:</b>
        <!--<select class="browser-default waves-effect waves-light btn" name="Filter" id="filter_id">-->
        <!--<option value="By Roll Number" onClick="change_to_roll()">By Roll Number</option>-->
        <!--<option value="By Name" onClick="change_to_name()">By Name</option>-->
        <!--</select>-->
        <%= react_component ('Dropdown_filter'), name: "Filter" , option1:"By Roll Number" , option2: "By Name" %>
       </div>
      </div>
    </div>
   <!--<p id="box"></p>-->

  <div style="font-size:15; position:absolute; TOP:420px; LEFT:450px;" id="to_change">
        <b > Enter the value: </b>
    </div>

  <div style="font-size:15; position:absolute; TOP:400px; LEFT:600px;">
    <div class="row">
      <div class="col s12">
        <!--<#%= text_field(:student, :id)%>-->
        <%= react_component('Text_Field') %>
      </div>
    </div>
  </div>



</form>